{% load static %}
<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}Beam Inc{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Beam Inc">
  <meta name="author" content="Beam Inc">

  <link rel="stylesheet" href="{% static 'beam/styles/main.css' %}" />
  <script src="https://js.stripe.com/v3"></script>
</head>

<body>
  <nav class="container">
    <div class="level">
      <div class="level-left level-item-mobile logo-level">
        <img class="beam-logo" src="{% static 'beam/images/beam-logo.png' %}" />
      </div>
    </div>
    </div>
  </nav>
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</body>

</html>
