{% extends "beam/base.html" %}

{%block title %}
Beam: Mental Fitness for the 21st Century.
{% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <div class="columns">
      <div class="column is-half mx-auto">
        <h1 class="is-family-secondary title">
          Thank you for choosing Beam for your therapy needs.
        </h1>
        <p class="subtitle">
          Be on the look out for an email from us confirming your appointment and match.
        </p>
        <p>If you have any questions, don't hesitate to contact Beam at
          <a href="mailto:contact@findyourbeam.com">contact@findyourbeam.com</a>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
