{% extends "beam/base.html" %}

{%block title %}Beam: Mental Fitness for the 21st Century.{% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <div class="columns">
      <div class="column is-half mx-auto">
        <h1 class="is-family-secondary title">
          Your availability
        </h1>
        <p class="subtitle">
          In order to match you with the best therapist for you, we'll need to know different times that you are
          available.
        </p>
        <div class="field">
          <label class="label"> Pick at least three times that would work best for your initial consultation.</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>3PM on Tuesday</b> June 11th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>4PM on Tuesday</b> June 11th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>10AM on Wednesday</b> June 12th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>11AM on Wednesday</b> June 12th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>12PM on Wednesday</b> June 12th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>2PM on Friday</b> June 14th
                </label>
                <label class="checkbox checkbox-vertical">
                  <input type="checkbox" name="answer">
                  <b>3PM on Friday</b> June 14th
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-vertical">
          <a href="#" class="button is-fullwidth-mobile">Show more times</a>
          <a href="/onboarding/checkout" class="button is-fullwidth-mobile is-primary">Continue</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
