{% extends "beam/base.html" %}

{%block title %}Mental Fitness for the 21st Century. {% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <div class="columns">
      <div class="column is-half mx-auto">
        <h1 class="is-family-secondary title">
          Your Contact Information
        </h1>
        <p class="subtitle">
          We will need this information to keep in touch with you.
        </p>
        <p>
        </p>
        <form action="{% url 'onboarding_signup' %}" method="post">
          {% csrf_token %}
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input name="{{ signup_form.email.html_name }}" class="input" type="email" placeholder="Email" required />
              <span class="icon is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input name="{{ signup_form.first_name.html_name }}" class="input" type="text" maxlength="100"
                placeholder="First Name" required />
              <span class="icon is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input name="{{ signup_form.last_name.html_name }}" class="input" type="text" maxlength="100"
                placeholder="Last Name" required />
              <span class="icon is-left">
                <i class="fas fa-user"></i>
              </span>
              <span class="icon is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <div class="control has-icons-left has-icons-right">
              <input name="{{ signup_form.zip_code.html_name }}" class="input" type="text" maxlength="20"
                placeholder="Zip Code" required />
              <span class="icon is-left">
                <i class="fas fa-map-marker"></i>
              </span>
              <span class="icon is-right">
                <i class="fas fa-check"></i>
              </span>
            </div>
          </div>
          <div class="buttons-vertical">
            <button type="submit" href="/onboarding/intake"
              class="button is-fullwidth-mobile is-primary">Continue</button>
            <p>
              Your privacy and security is of utmost important to us at Beam. You can read more about our security
              practices <a href="#">here</a>.
            </p>
          </div>
        </form>
      </div>
    </div>

</section>
{% endblock %}
