{% extends "beam/base.html" %}

{%block title %}Beam: Mental Fitness for the 21st Century{% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <h1 class="is-family-secondary title is-size-1-tablet is-size-3-mobile has-text-weight-light">
      Mental Fitness for the 21st Century.
    </h1>
    <p class="subtitle">
      Match with a therapist that will help you stay mentally fit and emotionally resilient.
    </p>
    <div class="buttons">
      <a href="/onboarding/signup" class="button is-fullwidth-mobile is-primary">Get Matched</a>
    </div>
</section>
{% endblock %}
