{% extends "beam/base.html" %}

{%block title %}Beam: Mental Fitness for the 21st Century.{% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <div class="columns">
      <div class="column is-half mx-auto">
        <h1 class="is-family-secondary title">
          Your Payment
        </h1>
        <p class="subtitle">
          We use Stripe to keep your payment information private and secure.
        </p>
        <p>The following link will take you to a payment page hosted by Stripe.</p>
        <br />
        <div class="buttons-vertical"></div>
        <button class="button is-fullwidth-mobile is-primary" id="checkout-button-sku_FrITRRXttwEUhx" role="link">
          Pay with Stripe
        </button>
        <div id="error-message"></div>
        <script>
          (function () {
            var stripe = Stripe('pk_test_3ASfDoLBjSFKJvgIFPyjCY5D');

            var checkoutButton = document.getElementById('checkout-button-sku_FrITRRXttwEUhx');
            checkoutButton.addEventListener('click', function () {
              // When the customer clicks on the button, redirect
              // them to Checkout.
              stripe.redirectToCheckout({
                items: [{ sku: 'sku_FrITRRXttwEUhx', quantity: 1 }],

                // Do not rely on the redirect to the successUrl for fulfilling
                // purchases, customers may not always reach the success_url after
                // a successful payment.
                // Instead use one of the strategies described in
                // https://stripe.com/docs/payments/checkout/fulfillment
                successUrl: 'https://first-campaign-253815.appspot.com/onboarding/done',
                cancelUrl: 'https://first-campaign-253815.appspot.com/onboarding/done',
              })
                .then(function (result) {
                  if (result.error) {
                    // If `redirectToCheckout` fails due to a browser or network
                    // error, display the localized error message to your customer.
                    var displayError = document.getElementById('error-message');
                    displayError.textContent = result.error.message;
                  }
                });
            });
          })();
        </script>
      </div>
    </div>
  </div>
</section>
{% endblock %}
