{% extends "beam/base.html" %}

{%block title %}Beam: Mental Fitness for the 21st Century.{% endblock %}

{% block content %}
<section class="beam-section">
  <div class="container">
    <div class="columns">
      <div class="column is-half mx-auto">
        <h1 class="is-family-secondary title">
          Your Therapy Experience
        </h1>
        <p class="subtitle">
          These answers will help us tailor your initial consultation.
        </p>
        <div class="field">
          <div class="label">
            <label class="label">What brings you to seek therapy?</label>
            <textarea class="textarea"></textarea>
          </div>
        </div>
        <div class="field">
          <label class="label">How long were you seeing your last therapist?</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer">
                  I have never seen a therapist
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Less than 3 months
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  3 months to a year
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Over 1 year
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">How interested are you in learning techniques to better manage your emotions?</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer">
                  Very interested
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Neutral
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Not interested
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">How interested are you in having a safe space to talk about personal concerns?</label>
          <div class="field-body">
            <div class="field is-narrow">
              <div class="control">
                <label class="radio">
                  <input type="radio" name="answer">
                  Very interested
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Neutral
                </label>
                <label class="radio radio-vertical">
                  <input type="radio" name="answer">
                  Not interested
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-vertical">
          <a href="/onboarding/availability" class="button is-fullwidth-mobile is-primary">Continue</a>
        </div>
      </div>
    </div>
</section>
{% endblock %}
