@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text|Lato:400,700");

$beam-gold: rgba(237, 212, 134, 1);
$beam-green: rgba(150, 187, 159, 1);

$body-background-color: $beam-gold;
$green: $beam-green;
$primary: $beam-green;

$family-sans-serif: Lato, BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$family-secondary: "DM Serif Text", serif;

// Import bulma last!
@import "~bulma/bulma";

.button.is-fullwidth-mobile {
  @include mobile() {
    display: flex;
    width: 100%;
  }
}

.logo-level {
  padding-top: 1rem;
}

.level-left.level-item-mobile,
.level-right.level-item-mobile {
  display: flex;
  justify-content: center !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.beam-logo {
  max-width: 100%;
  width: 80px;
}

.beam-section {
  padding: 1.5rem !important;
}

.radio.radio-vertical,
.checkbox.checkbox-vertical {
  display: block;
  margin-left: 0;
}

.checkbox.checkbox-vertical {
  margin: 0.5rem 0;
}

.buttons-vertical {
  display: flex;
  flex-direction: column;
}

.buttons-vertical .button {
  margin-bottom: 0.5rem;
}
